.container {
  border: 1px solid grey;
  padding: 1rem;
  margin:2rem;
}
.preview--header {
  display: flex;
  justify-content: space-between;
}
.right-align{
  text-align: end;
}

.divider {
  height: 1rem;
  background-color: bisque;
  border-radius: 4px;
  margin:2rem 0;
}
.preview--section .section--item{
  border: 1px solid grey;
  padding: .5rem;
  margin: 1rem;
}

.split-content {
  display: flex;
  justify-content: space-between;
}

.section-title {
  display: flex;
}
.margin-right {
  margin-right: 10px;
}
